<div class="page-welcome full-height tk-futura-pt">
    <div>
        I'm a developer, designer, and photographer based in Providence.<br><br>

        I believe that technology has an incredible power to make the world better for everyone. Through entrepreneurship and development, I create tools that empower individuals by increasing efficiency and reducing stress.<br><br>

        I specialize in full-stack web development and design. In my spare time, I am an undergraduate at Brown University, where I enjoy good coffee, ultimate frisbee, and board games.
    </div>
</div>
