/*
* Global Styles
*/
html, body {
    margin: 0;
    padding: 0;
    background-color: #f4f5f8;
}

.full-height {
    height: 100%;
}

body {
}

/*
* Nav
*/

div.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    background-image: url(/assets/sidebar.png);
    background-size: cover;

    padding: 10% 0 0 0;

    border-right: 2px solid #333;

    z-index: 2;

    div {
        padding: 0 0 30px 30px;
        font-size: 30px;
        color: #dfdfdf;
    }

    ul {
        padding: 0;

        a li {
            font-weight: lighter;
            font-size: 18px;
            padding: 10px 3px 10px 33px;
            margin: 4px 0;
            list-style-type: none;
            color: #a3beca;
            cursor: pointer;
        }

        li:hover {
            color: #708b97;
            background-color: rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }
    }
}

/*
* Footer
*/

div.footer {
    position: fixed;
    height: 25px;
    width: 100%;
    bottom: 0;

    p {
        display: inline-block;
        float: right;
        padding: 0 10px 0 0;

        color: #dfdfdf;
        font-weight: lighter;
        font-size: 12px;
    }
}

/*
* Welcome
*/

div.page-welcome {
    div {
        color: #222;
        font-size: 22px;
        font-weight: lighter;
    }

    div::first-line {
        font-size: 26px;
        font-weight: normal;
    }
}

/*
* Photography
*/

div.page-photography {
    position: absolute;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/*
* ng-view styling
*/

div[ng-view] {
    padding: calc(10% + 30px) 10% 0 10%;
}

div[ng-view].ng-enter {
    animation-name: fadeInUp;
    animation-duration: 1s;
}

div[ng-view].ng-leave  {
    animation-name: fadeOutDown;
    animation-duration: 1s;
}
